hr.lg {
    margin-top: $hr-margin-y * 3;
    margin-bottom: $hr-margin-y * 3;
}

.btn {
    border-radius: 6px;
    padding: calc(0.25em - 1px) 0.75em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

@mixin invert($color, $bg-color) {
    color: $color;
    background-color: $bg-color;

    &:hover {
        color: $bg-color;
        background-color: $color;
    }
}

.btn-secondary.inverse {
    color: theme-color("secondary");
    background-color: #fff;
    &:hover {
        @include invert(theme-color("secondary"), #fff);
    }
}

.lg-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;
    li {
        margin-right: 20px;
        a {
            color: white;
            i {
                @extend .fa-2x;
            }
        }
    }
}

#tinymce {
    background-color: lightgray;
}

.title {
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 1.5rem;
}

.subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

/* @keyframes hide-utility {
	from { height: 42px; }
	to {height: 5px; overflow: hidden;}
}
.scrolled {
	animation-name: hide-utility;
	animation-duration: .6s;
	animation-direction: normal;
	animation-fill-mode: forwards;
} */

#site-header {
    transition: top 0.6s ease-out 0s;
}

#site-header.scrolled {
    top: -42px !important;
}

.faqs {
    .faq-index {
        margin-bottom: 5px;
        &.active {
            color: #fff !important;
            @extend .bg-primary;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &::hover {
            color: #fff;
        }
    }
    .faq-content {
        display: none;
        &.active {
            display: block;
            opacity: 1;
        }
    }

    .fs-right {
        @include media-breakpoint-down(md) {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5) !important;
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            > div {
                width: 100%;
            }
        }
    }
}

.mc-fields {
    @media screen and (max-width: 900px) {
        justify-content: center;
        align-items: center !important;
        flex-direction: column;
    }
    .mc-field-group {
        padding-right: 40px;
        @media screen and (max-width: 900px) {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 0px;
        }
    }
    .clear {
        @media screen and (max-width: 900px) {
            padding-top: 10px;
        }
    }
}

/*this fixes the lazy load bug*/
.embed-responsive-16by9:before {
    padding-top: 0;
}
