.fs-left,
.fs-right {
    .title {
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.125;
    }
}

.fs-left {
    p {
        margin-bottom: 0 !important;
    }
    .left-header:first-child {
        border-radius: 6px 6px 0px 0px;
    }
    img {
        width: 100%;
    }
}

.fs-right {
    .container-fluid {
        .row {
            .col-4 {
                img {
                    width: 190px;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .fs-left {
        order: 2;
        background-color: #fff !important;
    }

    .fs-right {
        order: 1;
    }
}

@include media-breakpoint-up(lg) {
    .fs-left {
        order: 1;
    }

    .fs-right {
        order: 2;
    }
}

.video-container {
    width: 100%;
    .video-wrapper {
        width: 100%;
    }
    .video {
        width: 100%;
        margin-right: 20px;
        iframe,
        img {
            width: 90%;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
