.site-footer-cta {

	p {
		font-weight: 300;
		margin-bottom: 2rem;
	}

	.btn {
		font-size: 27px;

	}

	a {
		margin-bottom: .5rem;
	}
}

@include media-breakpoint-up(md) {
	.site-footer-cta {
		p {
			margin-top: 2rem;
		}
		.btn {
			margin-right: 40px;
		}
		.cta-buttons {
			margin-bottom: 2rem;
		}
	}
}
