#site-footer-main {
	display: flex;
	
	
	.site-footer-alpha {
		order:1;
		padding-bottom: 15px;
	}
	.site-footer-bravo {
		order:3;
		padding-bottom: 15px;
		img {
			max-width: 150px;
		}
		.btn-primary{
			border: 1px solid #fff;
			margin-bottom: 15px;
			font-weight: 400;
			text-transform: capitalize;
			font-size: 18px;
			&:hover {
				@include invert(#fff, theme-color('primary'));
				color:black !important;
			}
		}
		.btn-faq{
			display: block;
		    border: 1px solid #fff;
		    font-weight: 300;
		    padding: .5rem;
		}
		.lg-social-media{
			padding: 0;
			margin: 0;
			justify-content: flex-start;
			@include media-breakpoint-down(md){
				justify-content: center;
			}
		}
	}
	.site-footer-charlie {
		order:2;
		padding-bottom: 25px;
	}
}

@include media-breakpoint-up(lg) {
	#site-footer-main {
		.site-footer-alpha {
			order:1;
			padding-right: 2rem;
			.alpha-md-lg {
				.alpha-image {
					margin-right: 20px;

				}
				.alpha-content {
					a {
						color: #fff;
						text-decoration: underline;
					}
				}
			}
			
		}
		.site-footer-bravo {
			order:2;
			padding-right: 2rem;
			
		}
		.site-footer-charlie {
			order:3;
			padding-right: 2rem;
			
		}
	}
}