

#site-header {
	.utility-bar {
		padding: 0px;
		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			padding-bottom: 0px;
			margin: 0px;
			li {
				padding: 10px;
				&:hover {
					background-color: lighten(theme-color("primary"), 20%);
				}
				&:last-child {
					margin-right: 6px;
				}
			}
		}
	}
	.header-main {
		.site-branding{
			.logo {
				width: 80%;
				max-width: 240px;
			}
			.mobile-toggle {
				.fa-bars {
					color: theme-color('primary');
					display: flex;
					&::before {
						font-size: 16px;
					}
				}

			border: 1px solid theme-color('primary');
			border-radius: 4px;
			padding: 7.5px 7.5px;
			background-color: white;
				&:hover {
					border: 1px solid white;
					background-color: theme-color('primary');
					.fa-bars {
						color: white;
					}
				}
				&:active {
					border: 1px solid white;
					background-color: theme-color('primary');
					.fa-bars {
						color: white;
					}
				}
			}
		}
	}
}		

@include media-breakpoint-up(xl) {
	#site-header {
		.header-main {
			.site-branding{
				.logo {
					width: 80px;
					margin-left: 40px;
				}
				.main-navigation {
					.navbar-nav {
						li {
							a {
								font-size: 12px;
							}
						}
					}
				}
			}
		}	
	}
}

.top-level-nav{
	&::after{
		content: "";
	    border-bottom: 2px solid theme-color('dark');
	    display: flex;
	    padding-bottom: 10px;
	}
}





