.feature-slider {
	background-size: cover;
	background-position: no-repeat center center;
	.feature-title {
		padding: .75rem;
		.title {
			color:#fff;
			font-weight: 700;
		}
	}
	.feature-subtitle {
		padding: .75rem;
		.subtitle {
			color:#fff;
			font-weight: 200;
			font-size: 1.7rem;
		}
	}
	.feature-btn {
		padding: .75rem;
		.btn {
			font-size: 1.5rem;
		}
	}
	
}

.feature-content {
	padding: 2rem .75rem;
}

@include media-breakpoint-up(md) {
	.feature-slider {
		.feature-title {
			.title {
				font-size: 2rem;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.feature-slider {
		.feature-logo {
			max-width: 400px;
			padding: .75rem;
		}
		.feature-title {
			max-width: 600px;
			.title {
				font-size: 2.6rem;
			}
		}
		.feature-subtitle {
			width: 60%;
			.subtitle {
				font-size: 1.7rem;
			}
		}
	}
}

