.main-navigation {
	box-shadow: 0 8px 16px rgba(10,10,10,0.1);
}
.nav.navbar-nav {
	
	.nav-link {
		color:black !important;
		background-color: white;
		opacity:1 !important;	
		&:hover {
			border-left: 8px solid theme-color('primary');
		}
		&:active {
			border-left: 8px solid theme-color('primary');
		}
	}
	.dropdown-menu {
		background-color: white;
		.dropdown-item {
			color:black !important;
			background-color: white;
			opacity:1 !important;
			border-left: 4px solid #fff;
			&:hover {
				border-color: theme-color('primary');
			}
			&:active {
				border-color: theme-color('primary');
			}
		}
	}
	.dropdown-toggle::after {
		display: none;
	}

	.nav-box {
		background-color: white;
		color:black;
		display: flex;
		opacity: 1 !important;
		padding-top: 20px;
		padding-right:10px;
		padding-left:10px;

		.box-img {
			padding-right: 20px;

		}
		.box-blurb {
			text-align: right;
			font-size: 18px;
			a {
				font-size: 18px;
				opacity: 1 !important;
				color: theme-color("primary");

			}
		}
	}

}

@include media-breakpoint-up(lg) {
	.nav.navbar-nav {
		.nav-link {
			border-left: 0 !important;
			border-bottom: 6px solid #fff;
			
			&:hover {
				border-bottom: 6px solid theme-color("primary");
				background-color: theme-color("light");

			}
			&:active {
				border-bottom: 6px solid theme-color("primary");
			}
		}
	}	
}

@include media-breakpoint-up(lg) {
	.main-navigation {
		box-shadow: none;
	}
	.header-main {
		box-shadow: 0 8px 16px rgba(10,10,10,0.1);
	}
}
