.lg-testimonial {
	.lg-testimonial-content {
		background-color: white;
		
		>div {
			background-color: whitesmoke;
			border-left: 5px solid #dbdbdb;
			padding: 1.25em 1.5em;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

}